{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Categorie disponible :</h1>
{% for object in categorys %}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{object.title}}</h5>
        <a href="/show_category/{{object.id}}" class="btn btn-light">Plus d'info</a>
    </div>
</div>
{% endfor %}
{% endblock %}
