{% extends 'base.html.twig' %}


{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <h1 class="text-center">Blog</h1>
<div class="justify-content-around d-flex flex-wrap">

{% for article in articles %}
<div class="card border-primary mb-3" style="width: 20rem;">

  <div class="card-header"><h4>{{article.title}}</h4></div>
  <div class="card-body">
    <h6>{{article.createdAt|date("m/d/Y")}}<h6>
  <div><img class="card-image" style=" width: 18rem; height = auto; " src="{{article.image}}"></div>
  </div>
  <a href="/show/{{article.id}}" class="btn btn-primary">Détail</a>
</div>
{% endfor %}
{% endblock %}
